html {
	font-family: montserrat, roboto, helvetica, arial;
}

body {
	background-color: black;
	font-size: 1rem;
}

h1, h2 {
	color: white;
	font-weight: normal;
	text-align: left;
	vertical-align: auto;
}

a {
	color: white;
}

table {
	padding: 0;
	margin-left: 5%;
}

footer {
	background-color: transparent;
	opacity: 50%;
	color: white;
	max-height: 10%;
	min-height: min-content;
	font-family: Montserrat, Roboto condensed, Helvetica;
	font-variant: small-caps;
	margin-left: 0%;
	margin-right: 0%;
	vertical-align: bottom;
}

img {
	border: 0;
	padding:0;
	margin: 0;
	width: 100%;
	opacity: 0.95;
}

button {
	min-width:min-content;
	background-color: grey;
	margin: 0;
	border: 0;
	padding: 0;
}

tr {
	min-width:min-content;
	background-color: C4C4C4;
	margin: 0;
	border: 0;
	padding: 0;
}

td {
	min-width:min-content;
	background-color: transparent;
	padding-right: 1ch;
}

th {
	font-weight: bold;
	font-variant: small-caps;
	text-align: left;
	vertical-align: top;
}

/* LOGO */
.logo{
	background-color: transparent;
	width: 45px;
	height: 45px;
	;
}

/* Pay button */
.pay-button {
	
	align-self: center;
	vertical-align: middle;
	text-align: center;
	background: #1f1f1f;
	border-radius: 1rem;
	width: 100%;
	height: 100%;
	padding: 0%;
	color: white;
}
.center {
	display: flex;
	justify-content: center;
}

.small-caps{
	font-variant: small-caps;
}

.table-header{
	opacity: 100%;
}

.align-right{
	align-self: right;
}

.container {
	width: 80vw;
	height: 50vh;
}

.my-cart{
	background-color: white;
	opacity: 80%;
	color: black;
	width: 50vw;
	height: 50vh;
}

.my-cart-title {
	color: black;
	font-weight: normal;
	font-size: 2rem;
	vertical-align: top;
}
.checkout {
	background-color: white;
	opacity: 80%;
	color: black;
	margin: 5vw;
	width: 30vw;
	height: 50vh;
}